<mat-toolbar style="background-color: #5C0633;">
  <div class="top-nav-container">
    <div class="logo-section">
      <img src="assets/logo.png" class="logo">
      <div class="logo-text">
        <span class="main-text">altraPRA</span>
        <small class="sub-text">SO-DEMO</small>
      </div>

    </div>
    <div class="right-section">
      <button mat-icon-button>
        <mat-icon>home</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>alternate_email</mat-icon>
      </button>

      <button mat-icon-button>
        <mat-icon>mail</mat-icon>
      </button>

      <button mat-icon-button>
        <mat-icon>mic_none</mat-icon>
      </button>
     <button mat-icon-button>
      <mat-icon>child_care</mat-icon>
     </button>

      <div class="profile-section">
        <img src="assets/profile.png" alt="Profile" class="profile-image">
        <span style="color: white;">John Smith</span>
      </div>
      <button mat-icon-button>
        <mat-icon>settings</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>

