
// .top-nav-container {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   width: 100%;


//   .logo-section {
//     display: flex;
//     align-items: center;

//     .logo {
//       height: 40px;
//     }

//   }
//   .right-section {
//     display: flex;
//     align-items: center;

//     .profile-section {
//       display: flex;
//       align-items: center;
//       margin-left: 10px;

//       .profile-image {
//         width: 32px;
//         height: 32px;
//         border-radius: 50%;
//         margin-right: 8px;
//       }
//     }
//   }
// }

.top-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .logo-section {
    display: flex;
    align-items: center;

    .logo {
      height: 40px;
      margin-right: 10px;
    }

    .logo-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: white;

      .main-text {
        font-size: 20px;
        font-weight: bold;
      }

      .sub-text {
        font-size: 12px;
      }
    }
  }

  .right-section {
    display: flex;
    align-items: center;

    .profile-section {
      display: flex;
      align-items: center;
      margin-left: 10px;

      .profile-image {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-right: 8px;
      }
    }
  }
}
