
.container {
  display: flex;
}



.left-side {
  flex: 1;
}

.right-side {
  flex: 2;
  margin-left: 16px;
  margin-top: 20px;
}

.card {
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.radio-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.radio-item {
  display: flex;
  align-items: center;
}

.radio-item label {
  margin-left: 4px;
}

.radio-divider {
  border: none;
  border-bottom: 1px solid #ccc;
  margin: 8px 0;
}

.form-group {
  margin-bottom: 16px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.col label {
  margin-bottom: 4px;
}

.form-control {
  padding: 8px;
  margin-bottom: 8px;
}

.small-input {
  width: 50%;
}

.display-heading {
  margin-top: 16px;
}

.required {
  color: red;
}

.search-button {
  margin-top: 16px;
  padding: 8px 16px;
  background-color: #5C0633;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #732d4f;
}

.file-status-container {
  border: 1px solid #ccc;
  padding: 8px;
  margin-bottom: 10px;
}

.file-status-container h4 {
  margin-bottom: 5px; /* Adjust as needed */
  color: #333; /* Text color */
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd; /* Border color */
}

table th,
table td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd; /* Border color */
}

table th {
  background-color: #f2f2f2; /* Header background color */
  font-weight: bold;
}

table tbody tr:nth-child(even) {
  background-color: #f9f9f9; /* Alternate row background color */
}










