
<mat-nav-list>
  <mat-list-item>
    <mat-icon mat-list-icon>home</mat-icon>
    <span mat-line>Admin</span>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>group</mat-icon>
    <span mat-line>Masters</span>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>event</mat-icon>
    <span mat-line>Activities</span>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>dashboard</mat-icon>
    <span mat-line>Dashboard</span>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>account_balance</mat-icon>
    <span mat-line>Accounting</span>
  </mat-list-item>

  <mat-list-item>
    <mat-icon mat-list-icon>account_balance</mat-icon>
    <span mat-line>Miscellaneous Billing</span>
  </mat-list-item>

  <mat-list-item>
    <mat-icon mat-list-icon>bar_chart</mat-icon>
    <span mat-line>Reports</span>
  </mat-list-item>
</mat-nav-list>


